.gridContainer {
    outline: 2px solid grey;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.tile {
    outline: 1px solid grey;
    background-color: white;
    padding: 3.125%;
}

.hovered {
    background-color: red;
}